body {
    background: url("https://images.unsplash.com/photo-1574169208507-84376144848b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: sans-serif;
}

#cards {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,minmax(200px, 1fr));
    column-gap: 30px;
}
@media screen and (max-width: 1200px) {
    #cards {
        grid-template-columns: minmax(200px, 1fr);
    }
}